<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar datos Empleado</title>
</head>
<body>
    <h1>Modificar empleado</h1>
    <form action="/store" method="post" enctype="multipart/form-data">
        Nombre:
        <input type="text" name="txtNombre" id="txtNombre">
        <br>
        Correo:
        <input type="text" name="txtCorreo" id="txtCorreo">
        <br>
        Foto:
        <input type="text" name="txtFoto" id="txtFoto">
        <br>
    </form>
</body>
</html>